@model IEnumerable<MySqlDotnetCore.Models.Tabladocumento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombredocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipocontenido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombredocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipocontenido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Iddocumento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Iddocumento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Iddocumento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
